
<div class="input-group ms-search">
	<input  type="text"
		   class="form-control"
		   placeholder="Search for genre..."
		   #genre [ngFormControl]="searchText">
</div>
<table class="table table-bordered">
	<tbody>
		<!--
			The async pipe subscribes to an Observable or Promise
			and returns the latest value it has emitted.
			When a new value is emitted,
			the async pipe marks the component to be checked for changes.
		-->
		<tr class="ms-search-result" *ngFor="#album of albums | async">
			<td>
				<img [src]="album.albumArtUrl" class="img-responsive" height="45" width="45">
				<span>{{album.title}}</span>
				<button type="button" class="btn btn-danger pull-right" (click)="onSelect(album)">Go to album</button>
			</td>
		</tr>
	</tbody>
</table>