.search-box {
    margin: 3rem auto 0;
    max-width: 90%;
}

md-input {
    display: flex;
}

md-list {
    max-height: 250px;
    overflow-y: scroll;
    background-color: #f0f0f0;
}

.pull-right {
    margin-left: auto;
}