<section class="ms-jumbotron">
	<div class="container">
		<img src="assets/img/banner-image-sale.png" class="img-responsive">
	</div>
</section>

<div class="container">
	<search (selected)="goToAlbumDetail($event)"></search>
</div>

<div class="album-section">
    <div class="container">
        <loading-indicator></loading-indicator>
        <album-summary (click)="goToAlbumDetail(album)"
                        *ngFor="let album of albums"
                        [album]="album">
        </album-summary>
    </div>
</div>


