<md-card>
  <div [hidden]="submitted">
    <h1>Shopping Cart Form</h1>
    <form #cart="ngForm" novalidate>
      <div>
        <md-input type="text" placeholder="First Name" required [(ngModel)]="model.firstName" ngControl="firstname" #firstname="ngForm">
        </md-input>
        <div [hidden]="(firstname.touched && firstname.valid) || firstname.untouched" class="alert alert-danger">
          First Name is required
        </div>
      </div>

      <div>
        <md-input type="text" placeholder="Last Name" required [(ngModel)]="model.lastName" ngControl="lastName" #lastname="ngForm">
        </md-input>
        <div [hidden]="(lastname.touched && lastname.valid) || lastname.untouched" class="alert alert-danger">
          Last Name is required
        </div>
      </div>

      <div>
        <md-input type="text" placeholder="Email" required [(ngModel)]="model.email" ngControl="email" #email="ngForm">
        </md-input>
        <div [hidden]="(email.touched && email.valid) || email.untouched" class="alert alert-danger">
          Email is required
        </div>
      </div>


      <div>
        <md-input type="text" placeholder="Phone Number" required [(ngModel)]="model.phone" ngControl="phone" #phone="ngForm">
        </md-input>
        <div [hidden]="(phone.touched && phone.valid) || phone.untouched" class="alert alert-danger">
          Phone is required
        </div>
      </div>

      <div>
        <md-input type="text" placeholder="Street Address" required [(ngModel)]="model.address" ngControl="address" #address="ngForm">
        </md-input>
        <div [hidden]="(address.touched && address.valid) || address.untouched" class="alert alert-danger">
          Address is required
        </div>
      </div>

      <div>
        <md-input type="text" placeholder="City" required [(ngModel)]="model.city" ngControl="city" #city="ngForm">
        </md-input>
        <div [hidden]="(city.touched && city.valid) || city.untouched" class="alert alert-danger">
          City is required
        </div>
      </div>

      <div>
        <md-input type="text" placeholder="Post Code" required [(ngModel)]="model.postalCode" ngControl="postalcode" #postalcode="ngForm">
        </md-input>
        <div [hidden]="(postalcode.touched && postalcode.valid) || postalcode.untouched" class="alert alert-danger">
          Post code is required
        </div>
      </div>

      <div>
        <ms-select  [items]="states" (selected)="model.state = $event"></ms-select>
        <div [hidden]="!submitted || (submitted && !model.state === '')" class="alert alert-danger">
          State is required
        </div>
      </div>

      <div>
        <md-input type="text" placeholder="Country" required [(ngModel)]="model.country" ngControl="country" #country="ngForm">
        </md-input>
        <div [hidden]="(country.touched && country.valid) || country.untouched" class="alert alert-danger">
          Country is required
        </div>
      </div>
      <button type="submit" md-raised-button color="primary" [disabled]="!cart.form.valid" (click)="onSubmit()">
							Submit
						</button>
    </form>
  </div>
</md-card>