<md-sidenav-layout fullscreen>
  <md-sidenav mode="side" #sidenav opened="true">
    <md-nav-list>
      <a md-list-item [routerLink]="['/']">
        <span md-line>Home</span>
      </a>
      <a md-list-item [routerLink]="['/genres/pop']">
        <span md-line>Genres</span>
      </a>
      <a md-list-item [routerLink]="['/cart']">
        <span md-line>Cart</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <a [routerLink]="['']">{{title}}</a>

    <span class="fill-remaining-space"></span>
    <a (click)="login()" *ngIf="!loggedIn()">Login</a>
    <img *ngIf="loggedIn()" [src]="getProfile()?.picture" class="img-responsive" height="35" width="35">
    <a class="nav-link" *ngIf="loggedIn()">{{getProfile()?.email}}</a>
    <a (click)="logout()" *ngIf="loggedIn()">Logout</a>

  </md-toolbar>
  <md-card-content>
    <router-outlet></router-outlet>
  </md-card-content>
</md-sidenav-layout>