<md-sidenav-layout fullscreen>
  <md-sidenav mode="side" #sidenav opened="true">
    <md-nav-list>
      <a md-list-item>
        <span md-line>Home</span>
      </a>
      <a md-list-item>
        <span md-line>Genres</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <a>{{title}}</a>
    <span class="fill-remaining-space"></span>
  </md-toolbar>
  <md-card-content>
    <app-home></app-home>
  </md-card-content>
</md-sidenav-layout>