<div class="container">

	<form class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" [(ng-model)]="email" class="form-control" placeholder="Email address" required autofocus>
		<label for="inputPassword"  class="sr-only">Password</label>
		<input type="password" [(ng-model)]="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<div class="checkbox">
			<label>
				<input type="checkbox" [(ng-model)]="rememberMe" value="remember-me"> Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" (click)="submit()" type="submit">Sign in</button>
	</form>

</div>



