<md-card *ngIf="cartItems.length === 0">
  <p>No items in the cart</p>
</md-card>
<md-card *ngIf="cartItems.length > 0">
  <table>
    <tr>
      <td>Item</td>
      <td>Amount</td>
      <td>Price</td>
      <td></td>
    </tr>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>
          <img [src]="item.album.albumArtUrl" class="img-responsive" height="45" width="45">
          <span>{{item.album.title}}</span>
        </td>
        <td>{{item.count}}</td>
        <td>{{item.album.price}}</td>
        <td style="width: 47px;">
          <button  md-raised-button color="primary" (click)="removeCartItem(item)"><md-icon>delete</md-icon></button>
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td>{{cart?.cartTotal}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <button md-raised-button color="primary" (click)="gotToCheckout()">Checkout</button>
</md-card>