a {
  text-decoration: none;
  color: #fff;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

md-sidenav-layout {
  background: rgba(0,0,0,0.03);
}

md-card-content {
  margin: 15px;  
}

md-sidenav {
  width: 200px;
}